h1 {
    padding-top: 1%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: Jura, serif;
}

.table {
    height: 50%;
    overflow-y: scroll;
}

tr.mat-mdc-header-row {
    font-weight: bold;
}

button {
    background-color: var(--delete-color);
}

mat-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 100;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--primary-color);
}

.loading-shade {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.12);
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
}
