<header class="top-menu">
    <button id="programs_button" *ngIf="isAdmin" [routerLink]="['/programs']">
        Programy
    </button>
    <button id="accounts_button" *ngIf="isAdmin" [routerLink]="['/users']">
        Konta
    </button>
    <button id="logout_button" *ngIf="isLogged" (click)="logout()">
        Wyloguj się
        <img id="logout_img" src="../../../assets/logout.png" alt="logout">
    </button>
</header>
<footer>
    <img src="../../../assets/logo_PWr.png" id="logo" alt="PWr logo">
</footer>
