.top-menu {
    background: var(--primary-color);
    height: 7.5%;
}

#logo {
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 55px;
}

#logout_button {
    background: var(--primary-color);
    border: none;
    height: 100%;
    font-family: Amiko, serif;
    color: white;
    font-size: 18px;
    padding: 15px 55px 15px 25px;
    float: right;
    cursor: pointer;
}

#logout_button:hover {
    background: var(--logout-hover-color);
}

#logout_img {
    padding-left: 10px;
    height: 22px;
    position: absolute;
}
