h1 {
    text-align: center;
    font-family: Jura, serif;
    padding-top: 0.5%;
    font-size: 2em;
    font-weight: bold;
}

.section_add {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 270px 270px;
}

.grid_add {
    border: 1px grey dashed;
    border-radius: 30px;
    background-color: #ede5e2;
    margin: 0 25% 10% 25%;
    word-wrap: break-word;
}

.grid_add:hover {
    background-color: #bdaca6;
}

input[type="file"] {
    color: transparent;
    visibility: hidden;
}

#button_ok {
    margin: auto;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Jura, serif;
    font-weight: bold;
    font-size: 1em;
}

::ng-deep .mat-mdc-raised-button {
    border-radius: 20px !important;
}

::ng-deep .mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: var(--primary-color);
    --mdc-protected-button-label-text-color: white;
}
