<app-margin *ngIf="isLogged"></app-margin>

<section id="content" *ngIf="isLogged">

    <h1>Dodawanie pliku</h1>

    <section class="section_add">

        <button class="grid_add" (click)="openBrowser('pdf_file_effects')">
            <ngx-file-drop
                dropZoneClassName="grid_file_drop"
                contentClassName="content_file_drop"
                [dropZoneLabel]="!disabledSections.includes('pdf_file_effects')?'Dodaj efekty uczenia się':filesNames['pdf_file_effects']"
                (onFileDrop)="dropFile($event, 'pdf_file_effects')"
            >
            </ngx-file-drop>
        </button>

        <button class="grid_add" (click)="openBrowser('pdf_file_plan')">
            <ngx-file-drop
                dropZoneClassName="grid_file_drop"
                contentClassName="content_file_drop"
                [dropZoneLabel]="!disabledSections.includes('pdf_file_plan')?'Dodaj plan studiów':filesNames['pdf_file_plan']"
                (onFileDrop)="dropFile($event, 'pdf_file_plan')"
            >
            </ngx-file-drop>
        </button>

        <button class="grid_add" (click)="openBrowser('pdf_file_program')">
            <ngx-file-drop
                dropZoneClassName="grid_file_drop"
                contentClassName="content_file_drop"
                [dropZoneLabel]="!disabledSections.includes('pdf_file_program')?'Dodaj opis programu studiów':filesNames['pdf_file_program']"
                (onFileDrop)="dropFile($event, 'pdf_file_program')"
            >
            </ngx-file-drop>
        </button>

        <button class="grid_add" (click)="openBrowser('pdf_file_cards')">
            <ngx-file-drop
                dropZoneClassName="grid_file_drop"
                contentClassName="content_file_drop"
                [dropZoneLabel]="!disabledSections.includes('pdf_file_cards')?'Dodaj karty przedmiotów':filesNames['pdf_file_cards']"
                (onFileDrop)="dropFile($event, 'pdf_file_cards')"
            >
            </ngx-file-drop>
        </button>

    </section>
    <input id="input_file" type="file" (change)="chooseFile($event)" accept="application/pdf">

    <section class="section_button_decisions">
        <button class="button_decision" mat-raised-button (click)="cancel()">Anuluj</button>
        <button class="button_decision" mat-raised-button (click)="approve()">Zatwierdź</button>
    </section>

</section>


<section id="not_logged" *ngIf="!isLogged">
    <app-notauth></app-notauth>
</section>
