<section id="content">

    <h1>Dodawanie pliku</h1>

    <section class="section_add">

        <section class="grid_add">
            <section id="add_1">
                <p>Dodaj 1</p>
            </section>
        </section>

        <section class="grid_add">
            <section id="add_2">
                <p>Dodaj 2</p>
            </section>
        </section>

        <section class="grid_add">
            <section id="add_3">
                <p>Dodaj 3</p>
            </section>
        </section>

        <section class="grid_add">
            <section id="add_4">
                <p>Dodaj 4</p>
            </section>
        </section>

    </section>

    <button id="button_ok" mat-raised-button>Zatwierdź</button>

</section>
