<app-margin></app-margin>

<section class="content">

    <section class="main_window">

        <section id="title_section">
            <h1>Logowanie</h1>
        </section>

        <form>
            <section class="grid_options_item" id="level_choice">
                <h2>Login</h2>
                <input>
            </section>

            <section class="grid_options_item" id="degree_choice">
                <h2>Hasło</h2>
                <input>
            </section>
        </form>

    </section>

</section>
