<app-margin></app-margin>

<section class="content">

    <section class="main_window">

        <section id="title_section">
            <h1>Logowanie</h1>
        </section>

        <section>
            <h2>Login</h2>
            <input
                class="text_input"
                id="login_input"
                name="login"
                type="email"
                [(ngModel)]="login"
            >
        </section>

        <section>
            <h2>Hasło</h2>
            <section id="pwd">
                <input
                    class="text_input"
                    id="password_input"
                    name="password"
                    [type]="passwordHidden?'password':'text'"
                    [(ngModel)]="password"
                >
                <input
                    class="eye_icon"
                    type="image"
                    [src]="passwordHidden?'../../../assets/icon_hidden.png':'../../../assets/icon_show.png'"
                    alt="Eye"
                    (click)="changeVisibility()"
                >
            </section>
        </section>

        <p id="error_message">{{errorMessage}}</p>

        <button
            id="accept_button"
            mat-raised-button
            (click)="checkData()"
        >
            Zaloguj się
        </button>

    </section>

</section>
