main, div {
    height: 100%;
    overflow: hidden;
}

.content {
    height: 100%;
    overflow: hidden;
    background: var(--background-color);
}

.main_window {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--main-window-color);
    border-radius: 60px;
    width: 65%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
    text-align: center;
    font-family: Jura, serif;
}

h1 {
    padding-top: 1%;
    /*font-size: 32px;*/
    font-size: 2em;
    font-weight: bold;
}

h2 {
    padding-top: 20px;
    /*font-size: 20px;*/
    font-size: 1.2em;
}

.text_input:focus {
    border: 2px solid var(--input-focused-color);
}

.text_input {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 2px solid var(--input-border-color);
    border-radius: 8px;
    padding: 5px 50px 5px 1%;
    width: 20em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: Jura, serif;
    font-weight: bold;
}

.eye_icon {
    width: 24px;
    position: relative;
    left: -35px;
    top: 8px;
}

#password_input, .eye_icon {
    display: inline-block;
}

#pwd {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-left: 24px;
}

#accept_button {
    margin: auto;
    position: absolute;
    bottom: 8%;
    right: 4%;
    font-family: Jura, serif;
    font-weight: bold;
    font-size: 1em;
}

::ng-deep .mat-mdc-raised-button {
    border-radius: 20px !important;
}

::ng-deep .mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: var(--primary-color);
    --mdc-protected-button-label-text-color: white;
}


