:root{
    --primary-color: #ff922a;
    --background-color: #ede5e2;
    --main-window-color: #ffffff;
    --input-border-color: #949180;
    --input-focused-color: #a87914;
    --logout-hover-color: #c26102;
    --error-message-color: #ce0000;
}
