@import url("app/ui/colors.css");

@font-face {
    font-family: Jura;
    src: url("fonts/Jura/Jura-VariableFont_wght.ttf");
}

@font-face {
    font-family: Amiko;
    src: url("fonts/Amiko/Amiko-Regular.ttf");
}

@font-face {
    font-family: Alata;
    src: url("fonts/Alata/Alata-Regular.ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
